.about__photo-wrapper {
  position: relative;

  height: 50vh;
  background-color: black;
}

.about__photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  height: 100%;
}

.about__text {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  min-height: 50vh;
}

.about__text-title {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 26px;
}
