.about {
  box-sizing: border-box;
  min-height: 100vh;
}

.about__title {
  display: none;
}

.about__photo-wrapper {
  padding-bottom: calc(100% + 60px);
}

.about__photo {
  position: absolute;
  left: 0;
}


.about__text {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;

  a {
    color: #000000;
  }
}

.about__text-title {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: normal;
}


@media (min-width: $tablet-width) {
  .about {
    position: relative;
    display: flex;
    flex-direction: column;

    padding-top: 90px;
    padding-bottom: 50px;
  }

  .about__title {
    display: flex;
    align-self: flex-start;
    margin-bottom: 90px;

    color: black;
  }

  .about__photo-wrapper {
    width: 66.66%;
    height: auto;
    padding: 0;
  }

  .about__photo {
    position: static;
  }

  .about__text {
    box-sizing: border-box;
    width: calc(66.66%);
    align-self: flex-end;
    margin-top: -90px;
    padding: 5% 7%;

    line-height: 30px;
    letter-spacing: 1px;

    border: 1px solid rgba(#000000, 0.2);
    background-color: white;
  }

  .about__text-title {
    margin-bottom: 50px;

    font-size: 36px;
  }
}

@media (min-width: $desktop-width) {
  .about__photo-wrapper {
    // width: 600px
  }
}
