.page-header {
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;

  color: #ffffff;

  // background-color: rgba(orange, 0.3);
}

.page-header--invert {
  color: #000000;
}

.menu-opened {
  .page-header {
    color: #ffffff;
  }
}

.page-header__controls {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 30px 30px 20px;

  // outline: 1px solid orange;
}

.page-header__logo-link {
  position: relative;
  color: inherit;
  line-height: 0;
}

.page-header__logo {
  fill: currentColor;
}

.page-header__logo-text {
  position: absolute;
  top: 0;
  left: 100%;

  display: inline-block;
  width: 0;

  overflow: hidden;
}

.page-header__logo-text-inner {
  display: inline-block;

  font-size: 16px;
  line-height: 16px;
  transform: translateX(-100%);
  transition: width, transform 1s;
}

@media (min-width: $tablet-width) {
  .page-header__controls {
    max-width: 1250px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__controls {
    padding-right: 0;
    padding-left: 0;
  }

  .page-header__logo-link:hover .page-header__logo-text {
    width: auto;

    .page-header__logo-text-inner {
      transform: translateX(0);
    }
  }
}


// .page-header__line {
//   position: absolute;
//   top: 50px;
//   right: 25px;

//   display: block;
//   width: 10px;
//   height: 10px;

//   background-color: red;

//   animation: line-up 1s both, line-shrink 1s 1s both;
// }

// .menu-opened {
//   .page-header__line {
//     animation: line-widen 1s both,
//       line-down 1s 1s both;
//   }
// }

// @keyframes line-widen {
//   0% {
//     width: 10px;
//   }

//   100% {
//     width: calc(100% - 100px);
//   }
// }

// @keyframes line-up {
//   0% {
//     transform: translateY(200px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

// @keyframes line-shrink {
//   0% {
//     width: 100%;
//   }

//   100% {
//     width: 10px;
//   }
// }

// @keyframes line-down {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(200px);
//   }
// }
