.works {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

.works__title {
  margin-bottom: 50px;
}

.works__buttons-container {
  display: none;
}

.works__list {
  @include list-style-reset;
}

.works__item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.works__scroll-down-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .works {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 120px;

    border-bottom: 1px solid rgba(#000000, 0.1)
  }

  .works__slider {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -170px;

    width: 100%;
  }

  .works__buttons-container {
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -50px;

    display: block;
    width: 100px;
    height: 100px;
  }

  .works__button {
    position: absolute;
    top: 0;

    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;

    background-color: transparent;
    outline: none;

    &--prev {
      left: 40px;

      border: 10px solid #000000;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &--next {
      right: 40px;

      border: 10px solid #000000;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .works__button--prev-inview {
    animation: works__button--rotate 0.5s forwards,
      works__button--prev-move 0.6s 0.6s forwards;
  }

  .works__button--next-inview {
    animation: works__button--rotate 0.5s forwards,
      works__button--next-move 0.6s 0.6s forwards;
  }

  @keyframes works__button--rotate {
    100% {
      transform: rotate(45deg);
    }
  }

  @keyframes works__button--prev-move {
    100% {
      left: 0;
    }
  }

  @keyframes works__button--next-move {
    100% {
      right: 0;
    }
  }



  .works__list {
    padding-bottom: 30px;
    display: flex;
  }

  .works__item {
    width: 540px;
    flex-shrink: 0;

    margin-bottom: 0;
    margin-right: 40px;

    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(#000000, 0.4);

    &:last-child {
      margin-right: 0;
    }
  }

  .works__scroll-down-button {
    display: block;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {}
