.works {
  padding-top: 90px;
  padding-bottom: 90px;
}

.works__title {
  margin-bottom: 50px;
}

.works__buttons-container {
  display: none;
}

.works__list {
  position: absolute;
  @include list-style-reset;
}

.works__item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: $tablet-width) {
  .works {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 120px;

    border-bottom: 1px solid rgba(#000000, 0.2)
  }

  .works__buttons-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
  }

  .works__button {
    position: relative;

    width: 20%;
    height: 30px;
    padding: 14px 0;

    border: none;
    background-color: #000000;
    background-clip: content-box;

    &--prev {
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: -6px;

        box-sizing: border-box;
        width: 12px;
        height: 12px;

        border: 6px solid #000000;
        border-left-width: 0px;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }

    &--next {
      padding-right: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        right: -6px;

        box-sizing: border-box;
        width: 12px;
        height: 12px;

        border: 6px solid #000000;
        border-right-width: 0px;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }

  .works__slider {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -170px;

    width: 100%;
    overflow: hidden;
  }

  .works__list {
    padding-bottom: 30px;
    display: flex;
  }

  .works__item {
    width: 540px;
    flex-shrink: 0;

    margin-bottom: 0;
    margin-right: 40px;

    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(#000000, 0.4);

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {}
